{{> head}}
{{> navbar}}
<div class="row">
    <div class="col-8">
        <h1>
            Suzuki Swift 1.0
        </h1>
        <h2>Lorem ipsum, dolor sit amet consectetur adipisicing elit. At commodi ducimus distinctio quis ipsam numquam iste sapiente dolorum veritatis debitis aliquid exercitationem ipsum atque reiciendis, praesentium recusandae optio, consequuntur expedita.</h2>
    </div>
    <div class="col-4">
        <img src="assert/img/auto.png" class="img-thumbnail">
    </div>

</div>
{{> footer}}